[submodule "bi-pos-reprint-reorder"]
	path = bi-pos-reprint-reorder
	url = git@github.com:xmarts/bi-pos-reprint-reorder.git
[submodule "l10n-mx-pos-global-invoice"]
	path = l10n-mx-pos-global-invoice
	url = git@github.com:xmarts/l10n-mx-pos-global-invoice.git
[submodule "pos-orders-list"]
	path = pos-orders-list
	url = git@github.com:xmarts/pos-orders-list.git
[submodule "pos-stocks"]
	path = pos-stocks
	url = git@github.com:xmarts/pos-stocks.git
[submodule "bi-pos-warehouse-management"]
	path = bi-pos-warehouse-management
	url = git@github.com:xmarts/bi-pos-warehouse-management.git
